doctype html

html
  head
    meta(charset='UTF-8')
    title 搬瓦工￥19.9抢货 (Popup)
    style.
      body {
        width: 200px;
      }
  body
    #root 请打开页面，<a href="https://bwh1.net/cart.php?a=add&pid=43" target='_blank'>$19.9搬瓦工方案</a>
